<div class="login-info">
    <span>
        <a href="/account/generalset" >
            <img src="~/content/img/avatars/sunny.png" alt="me" class="online" />
            <span> @LivellPayRoll.App_Helpers.SystemVariates.LoginUserName </span>
            @*<i class="fa fa-angle-down"></i>*@
        </a>
    </span>
</div>