    <!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <span class="txt-color-white">LivellPayRoll<span class="hidden-xs"> - Web Site And All Contents Copyright LivellPayRoll.com</span> © 2003-2017</span>
        </div>

    </div>
</div>
<!-- END PAGE FOOTER -->