<div class="background-video">
    <video class="login-background-video" autoplay muted loop>
        @*<source type="video/mp4" src="http://static.qifeiye.com/caches/927a729d326a897a6e2f27a03c31ee07/aHR0cDovLzU3ZThlY2Y0MTE1NWQudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNy8wNi85OGIyZTYyYzgwOGRkNTdkMDA0MTUxNWVkNjk0NDg5YS5tcDQ_p_p100_p_3D.mp4" />*@
        <source type="video/mp4" src="~/Content/media/LoginMedia.mp4" />
    </video>
</div>
<div class="login-background-video" style="background-color: rgba(0,0,0,0.6);">
</div>