<div class="modal fade" id="PhotoViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-file-photo-o"></i> Photo View</h4>
            </div>
            <div class="modal-body">
                <img style="width:100%; height:100%;" src="/Content/img/favicon/favicon.png" alt="Picture URL loading failed！">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->