@model AccountForgotPasswordModel 
@{
    ViewBag.PageId = "extr-page";
}

@section topright{
   
}

<div id="content" class="container">
    <div class="row">
        @*@{ Html.RenderPartial("_LoginText"); }*@
        @{ Html.RenderPartial("_LoginBackground"); }
        <div class="col-sm-6 col-sm-offset-3 form-box" style="margin-top:100px">
            <div class="well no-padding">
                <form action="@Url.Action("resendEmail", "account")" method="POST" id="FormConfirmedEmail" class="smart-form client-form">
                    <header>
                       Please Confirmed Email
                    </header>
                    @Html.HiddenFor(m => m.Email)
                    @Html.AntiForgeryToken()
                   
                    <fieldset>
                        <p class="alert alert-success" id="sended-message" hidden="hidden"> <i class="fa fa-envelope"></i>  Please check your email ,and confirm your account complete registration information . </p>

                        <h2><strong><span id="ConfirmedEmail">@Model.Email</span></strong></h2>
                        <p class="note">
                            The account not complete registration.
                            Please confirmed email and receive mail(LivellPayRoll) to complete the registration.
                        </p>
                        <br />

                    </fieldset>
                    <footer>
                        <button type="submit" id="btn-resend"  class="btn btn-primary" autocomplete="off">
                            <i class="fa fa-envelope"></i>
                            Send again
                        </button>
                    </footer>
                </form>
            </div>
            @*@{ Html.RenderPartial("_SocialMedia"); }*@
        </div>
    </div>
</div>

@{ Html.RenderPartial("_TermsAndConditions"); }

@section pagespecific{
    <script type="text/javascript">
        // Model i agree button
        //$(document).ready(function () {
        //    $('#sended-message').hide();
        //    $('#btn-resend').click(function () {
        //        $('#btn-resend').addClass('disabled')
        //        $('#sended-message').show();
        //        var email = $('#ConfirmedEmail').html();
        //        $.post("/account/resendEmail", { email: email }, function (data) {
        //            if (data.message == 'success') {
        //                console.log(data.message)
        //            }
                    
        //        })
        //    })

        //})
      
    </script>
}