@model PasswordSetModel
<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="well">
                <form id="PasswordSetForm" class="form-horizontal" action="/Account/PasswordSet" method="post">
                    <h1><i class="fa fa-key "></i> Account <span class="semi-bold">Setting</span><br /> <small> — You can reset your password</small></h1>

                    @Html.HiddenFor(m => m.UserId)
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <hr />
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 form-box">
                            <fieldset>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Password * </label>
                                    <div class="col-md-8">
                                       <input class="form-control" name="Password" placeholder="Please enter password." type="password" maxlength="128">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">New Password *</label>
                                    <div class="col-md-8">
                                        <input class="form-control" name="NewPassword" placeholder="Please enter new password." type="password" maxlength="128">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Comfirm Password *</label>
                                    <div class="col-md-8">
                                        <input class="form-control" name="PasswordConfirm" placeholder="Please enter new password again." type="password" maxlength="128">
                                    </div>
                                </div>

                            </fieldset>
                        </div>

                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary" id="SaveCustomer" type="submit">
                                    <i class="fa fa-save"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>



    </div>

    <!-- end row -->

</div>
<!-- END MAIN CONTENT -->

@section pagespecific {


}